.form-details{
    background: white !important;
    padding: 20px !important;
    border-radius: 5px;
    box-sizing: border-box !important;
    margin: 0 !important;
}
.form-details input{
    border: 1px solid rgba(128, 128, 128, 0.792);
    border-radius: 2px ;
}
.form-details textarea{
    border: 1px solid rgba(128, 128, 128, 0.792);
    border-radius: 2px ;

}
.form-details label{
       font-weight: bold;
}
.form-details h5{
     font-weight: bold;
}